.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: white;
  font-size: 60px; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

html {
  height: 100%; }

body {
  height: 100%;
  overflow: hidden; }

.container {
  height: 100%;
  overflow: hidden; }

.header-container {
  position: absolute;
  top: 40%; }

.heading {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 108px; }

.description {
  font-family: "Courier", serif;
  color: white;
  font-size: 48px;
  margin-left: 2%;
  margin-top: -2%; }

.social-links {
  list-style: none;
  margin-left: -4%;
  margin-top: 1.5%; }
  .social-links li {
    display: inline-block;
    margin: 12px;
    text-align: center; }
  .social-links a {
    display: block;
    padding: 10px;
    border-radius: 100%;
    border: 3px solid white; }
  .social-links i {
    color: white;
    width: 1.25em; }

.vegas-overlay {
  background-color: #418068;
  opacity: 0.6; }
