.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: white;
  font-size: 60px; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

html {
  height: 100%; }

body {
  height: 100%;
  overflow: hidden; }

.container {
  height: 100%;
  overflow: hidden; }

.header-container {
  position: absolute;
  top: 40%; }

.heading {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 108px; }

.description {
  font-family: "Courier", serif;
  color: white;
  font-size: 48px;
  margin-left: 2%; }

.social-links i {
  color: white;
  font-size: 38px; }

.vegas-overlay {
  background-color: #418068;
  opacity: 0.6; }
