#contact-form {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    color: white;
    text-align: center;

    form {
        .form-control {
            background: transparent;
        }

        .form-group {

        }

        .btn {
            background: transparent;
            color: white;
        }
    }

    &:target {
        opacity: 0.7;
        pointer-events: auto;
    }
}

.close-form {
    font-size: 30px;
    color: white;
    &:hover {
        color: $hover-color;
    }
}
